@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

body {
  background: linear-gradient(
    90deg,
    rgb(65, 215, 225) 0%,
    rgb(85, 192, 231) 51%,
    rgb(78, 196, 214) 100%
  );
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#colorlink {
  font-size: 50px;
}

#colorlink:hover {
  color: aliceblue;
}

#Menu {
  font-size: 25px;
  margin-left: 15%;
}

#Menu a:hover {
  color: aliceblue;
}


.color-transparente{
    background-image: url("../IMG/fondo\ verde.webp");
    height: 30vh;
    position: relative;
}

.texto{
    position: absolute;
    top: 30%;
    left: 25%;
    font-size: 25px;
    font-weight: bold;
}

.texto2{
  font-size: 15px;
  margin-top: 2%;
}

.texto3{
  font-size: 50px;
  font-weight: bold;
}

.cuadro{
  border: 3px solid blue;
}

.cuadro p{
  color: aliceblue;
}

.cuadro2{
  border: 3px solid rgb(0, 217, 255);
}

.cuadro3{
  border: 3px solid blue;
}

.textos{
  color: gainsboro;
  text-transform: uppercase;
  font-weight: bold;
}

.Parrafos{
  color: rgb(243, 241, 241);
  text-transform: uppercase;
  font-weight: bold;
}

.texto1{
  font-size: 20px;
  color: saddlebrown;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
}

.color{
font-weight: bold;
}

.iconos{
  font-size: 30px;
}

.colortexto{
  color: rgb(89, 27, 4);
  margin-left: 40%;
}

.button{
  margin-left: 40%;
}

#Piepagina{
  font-size: 15px;
  color: saddlebrown;
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  text-align: center;
}